<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuswoo.easypay.service.mapper.RefundMapper">
  <resultMap id="BaseResultMap" type="com.wuswoo.easypay.service.model.Refund">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="platform_id" jdbcType="INTEGER" property="platformId" />
    <result column="refund_batch_code" jdbcType="VARCHAR" property="refundBatchCode" />
    <result column="refund_trade_no" jdbcType="VARCHAR" property="refundTradeNo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="return_code" jdbcType="VARCHAR" property="returnCode" />
    <result column="return_content" jdbcType="VARCHAR" property="returnContent" />
    <result column="notify_time" jdbcType="TIMESTAMP" property="notifyTime" />
    <result column="notify_status" jdbcType="TINYINT" property="notifyStatus" />
    <result column="success_num" jdbcType="SMALLINT" property="successNum" />
    <result column="batch_num" jdbcType="SMALLINT" property="batchNum" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>