<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuswoo.easypay.service.mapper.RefundResultMapper">
  <resultMap id="BaseResultMap" type="com.wuswoo.easypay.service.model.RefundResult">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="refund_id" jdbcType="BIGINT" property="refundId" />
    <result column="platform_id" jdbcType="INTEGER" property="platformId" />
    <result column="payment_code" jdbcType="VARCHAR" property="paymentCode" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="refund_code" jdbcType="VARCHAR" property="refundCode" />
    <result column="refund_trade_no" jdbcType="VARCHAR" property="refundTradeNo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="refund_amount" jdbcType="INTEGER" property="refundAmount" />
    <result column="refund_channel" jdbcType="VARCHAR" property="refundChannel" />
    <result column="fee" jdbcType="INTEGER" property="fee" />
    <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
    <result column="return_code" jdbcType="VARCHAR" property="returnCode" />
    <result column="return_content" jdbcType="VARCHAR" property="returnContent" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="refund_type" jdbcType="INTEGER" property="refundType" />
    <result column="refund_error" jdbcType="VARCHAR" property="refundError" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>